.list {
  &__item {
    margin-bottom: 10px;
  }
  &__el {
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
    &_active {
      font-weight: 700;
    }
    &:hover {
      transform: translateY(-3px);
    }
  }
}